<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Список кредитов</title>
    <link rel="stylesheet" th:href="@{/static/bank/background.css}">
    <link rel="stylesheet" th:href="@{/static/bank/table.css}">
</head>
<body>
<div th:insert="~{menu :: menu_bank}"></div>
<div class="container">
    <div th:if="${message} != null">
        <p class="text-success mt-2 mb-5" th:text="${message}"></p>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a th:href="@{/bank/credit/save}">
            <button type="button" class="btn btn-info">Добавить кредитное предложение</button>
        </a>
    </div>
    <div th:if="${message} == null">
        <table class="credits">
            <thead>
            <tr>
                <th>Лимит по кредиту</th>
                <th>Процентная ставка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="credit : ${credits}">
                <td><a th:href="@{/bank/credit/modify/{id}(id=${credit.getId()})}" th:text="${credit.getLimit()}"></a>
                </td>
                <td th:text="${credit.getPercent()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>