<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Редактирование кредитного предложения</title>
    <link rel="stylesheet" th:href="@{/static/bank/background.css}">
</head>
<body>
<div th:insert="~{menu :: menu_bank}"></div>
<div class="container">
    <form class="mt-3" th:action="@{/bank/credit/modify}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${credit.getId()}">
        <div class="mb-3">
            <label for="limit" class="form-label"><b>Кредитный лимит:</b></label>
            <input type="number" class="form-control" maxlength="250" id="limit" name="limit"
                   th:value="${credit.getLimit()}" required>
        </div>
        <div class="mb-3">
            <label for="percent" class="form-label"><b>Процентная ставка:</b></label>
            <input type="number" class="form-control" maxlength="25" id="percent" name="percent"
                   th:value="${credit.getPercent()}" required>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-outline-primary" type="submit">Сохранить</button>
            </div>
            <div class="col-1">
                <a class="btn btn-outline-info" th:href="@{/bank/credits}">Отмена</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>